@import url("App.scss");

.home-page {

  &__background-image{

    width: 100%;
    height: 100vh;
    &__container{
display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    &__description{
      text-transform: capitalize;
      font-family: var(--font-family-headers), serif;
      position: absolute;
      z-index: 20;
      color: white;
      bottom: 0;
      padding-right: 1rem;
      padding-bottom: 1rem;
      //width: 30%;
      opacity: 40%;
      right:0;
    }
  }

}
