@import url("App.scss");

.home-page {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-headers), serif;
  position: relative;

  &__quote{
    position: absolute;
    font-size: 1.5rem;
    bottom: 2rem;
    color: var(--white-color);
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 2rem;
    gap: 0.5rem;

    .small & {
      font-size: 1.0rem;
    }
  }

  &__timer{
    position: absolute;
    color: var(--white-color);
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 2rem;

    &__time{
font-size: 10rem;

      .small & {
        font-size: 5rem;
      }
    }
    &__date{
      margin-top: 1.5rem;
      font-size: 2rem;

      .small & {
        font-size: 1.5rem;
      }
    }
  }

  &__left-bar{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: rgba(var(--left-navbar-color-rgb), 0.5);
    align-items: center;
    z-index: 10;

    &--activated{
      width: 18%;
      background-color: rgba(var(--left-navbar-color-rgb), 0.7);
    }

    .small & {
      width: 10%;
    }

    &--not-activated{
      width: 5%;
    }

    &__1 {
      padding: 1rem;
      width: 100%;
      &-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    }
    &__2{
      padding:0.5rem;
      width: 100%;

      &-todo{
        display: flex;
        flex-direction: row;
       gap: 0.5rem;
        justify-content: center;
        padding:1.0rem 0rem;
        width: 100%;
        &:hover{
          background-color: var(--hover-grey-color);
        }
      }
      &-music{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        padding:1.0rem 0rem;
        width: 100%;
        &:hover{
          background-color: var(--hover-grey-color);
        }
      }
      &-settings{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        padding:1.0rem 0rem;
        width: 100%;
        &:hover{
          background-color: var(--hover-grey-color);
        }
      }
      &-profile{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        padding:1.0rem 0rem;
        align-items: center;
        width: 100%;

        .small & {
          flex-direction: column;
        }
        &:hover{
          background-color: var(--hover-grey-color);
        }
        &__img{
          width: 40px;
          height: 40px;
          border-radius: 50px;

          .small & {
            width: 30px;
            height: 30px;
            padding-bottom: 0.6rem;
          }
        }
        &__username{
          margin-right: 1rem;
        }
      }
    }
  }
  &__background-image {
    width: 100%;
    height: 100vh;
    &__container {
      width: 82%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;


      //.small & {
      //  width: 90%;
      //}
      //
      //&--activated{
      //  width: 82%;
      //}
      //&--not-activated{
      //  width: 95%;
      //}
    }

    &__description {
      text-transform: capitalize;
      font-family: var(--font-family-headers), serif;
      position: absolute;
      z-index: 20;
      color: white;
      bottom: 0;
      padding-right: 1rem;
      padding-bottom: 1rem;
      //width: 30%;
      opacity: 40%;
      right: 0;
    }
  }
}
