@import url("App.scss");
.greetings {
  font-size: 5.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 4rem;
  padding-top: 4rem;
  margin-right: 1rem;
  font-family: var(--font-family-headers), sans-serif;
  font-weight: 300;
  width: 100%;
  background-color: var(--jumbotron-background-color);
  &__name {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .small & {
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-right: 0;
    margin-left: 0;
  }
}
