@import url("App.scss");

.music {
  font-family: var(--font-family-headers), serif;
  padding: 1rem;

  .small & {
    width: 80%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }

  &__header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    &__text {
      font-weight: 600;
      font-size: 1.2rem;
    }

    &__cross {
      padding-top: 0.2rem;
    }
  }

  &__button {
    padding: 1rem;
    border-radius: 1rem;
    color: var(--white-color);
    cursor: pointer;

    &__spotify {
      background-color: var(--spotify-color);
    }

    &__youtube {
      background-color: var(--youtube-color);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }
}
