@import url("App.scss");
.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  font-family: var(--font-family-headers), sans-serif;

  &__title {
    font-size: 2.2rem;
    font-weight: 400;
  }

  &__bar {
    width: 40px;
    height: 6px;
    background-color: var(--primary-color);
    margin-top: 15px;
  }

  &-bold {
    font-weight: 600;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    //top:calc(100% - 100px);
    background: url(../images/background.jpg) no-repeat;
    transform: rotate(5deg);
    background-size: cover;
    max-width: 400px;
    max-height: 200px;
    z-index: 40;

    .small & {
      max-width: 300px;
      max-height: 150px;
    }

    .medium & {
      max-width: 320px;
      max-height: 180px;
    }

    &__block {
      position: absolute;
      z-index: 10;
      border: 1px solid #000;
      //width: 100%;
      //height: auto;
      max-width: 400px;
      max-height: 200px;
      width: 400px;
      height: 200px;

      .small & {
        max-width: 300px;
        max-height: 150px;
      }

      .medium & {
        max-width: 320px;
        max-height: 180px;
      }
    }
  }

  &__left {
    &--3 {
      flex: 90;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      text-align: left;
      align-items: flex-start;
      padding-left: 4rem;

      .small & {
        padding: 0.5rem;
      }
    }

    &--4{
      flex: 70
    }
  }

  &__right {
    &--1 {
      margin-left: 12rem;
      margin-right: 15rem;
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .small & {
        margin: 0rem;
      }

      .medium & {
        margin-left: 10rem;
      }
    }

    &--3 {
      padding-top: 1rem;

      .small & {
        padding:0rem;
      }


    }

    &--4{
      flex: 30;
      align-items: center;
      display: flex
    ;
      flex-direction: column;
      &__logo {
        height: 100px;
        width: 100px;
      }
      font-size: 1.5rem;
    }
  }

  &__image-banner {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 641 422' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M213.912 210.31L214.29 105.345L107.139 104.966L106.761 209.931L213.912 210.31Z' fill='%23CB5A96'/%3E%3Cpath d='M533.471 420.242L533.849 315.655L426.698 315.276V419.863L533.471 420.242Z' fill='%23CB5A96'/%3E%3Cpath d='M319.393 315.276L319.772 210.689L213 210.311C213 268.288 258.814 315.276 315.607 315.276H319.393Z' fill='%23FFCCE7'/%3E%3Cpath d='M217.922 316.139L213 321.065V325.234L222.087 316.139H217.922Z' fill='%23750C00'/%3E%3Cpath d='M236.096 316.139L213 339.254V343.423L239.882 316.139H236.096Z' fill='%23750C00'/%3E%3Cpath d='M253.891 316.139L213 357.443V361.233L257.678 316.139H253.891Z' fill='%23750C00'/%3E%3Cpath d='M271.687 316.139L213 375.254V379.422L275.473 316.139H271.687Z' fill='%23750C00'/%3E%3Cpath d='M289.482 316.518L213 393.442V397.61L293.268 316.518H289.482Z' fill='%23750C00'/%3E%3Cpath d='M307.277 316.518L213 411.631V415.799L311.064 316.518H307.277Z' fill='%23750C00'/%3E%3Cpath d='M320.151 321.444L221.708 420.726H225.873L320.151 325.612V321.444Z' fill='%23750C00'/%3E%3Cpath d='M320.151 339.633L239.504 420.726H243.669L320.151 343.802V339.633Z' fill='%23750C00'/%3E%3Cpath d='M319.772 357.822L257.299 420.726L261.464 421.105L319.772 361.991V357.822Z' fill='%23750C00'/%3E%3Cpath d='M319.772 376.011L275.094 421.105H279.259L319.772 379.801V376.011Z' fill='%23750C00'/%3E%3Cpath d='M319.772 393.821L292.89 421.105H297.055L319.772 397.99V393.821Z' fill='%23750C00'/%3E%3Cpath d='M319.772 412.011L310.685 421.105H314.85L319.772 416.179V412.011Z' fill='%23750C00'/%3E%3Cpath d='M426.699 210.689L427.077 106.103L319.927 105.724V210.31L426.699 210.689Z' fill='%23CB5A96'/%3E%3Cpath d='M533.849 106.481L534.228 1.89456L427.456 1.51562L427.077 106.102L533.849 106.481Z' fill='%2351102E'/%3E%3Cpath d='M640.621 106.861L641 2.27371L534.228 1.89478L533.849 106.482L640.621 106.861Z' fill='%23CB5A96'/%3E%3Cpath d='M640.243 211.447L640.622 106.86H636.835C580.042 106.86 533.471 153.47 533.471 211.068L640.243 211.447Z' fill='%23750C00'/%3E%3Cpath d='M426.32 315.276L426.699 210.689L319.926 210.311L319.548 314.898L426.32 315.276Z' fill='%23750C00'/%3E%3Cpath d='M533.092 315.655L533.471 211.069L426.698 210.69C426.698 268.667 472.512 315.655 529.306 315.655H533.092Z' fill='%23FFCCE7'/%3E%3Cpath d='M210.125 421L210.504 316.413L103.732 316.034C103.732 374.012 149.545 421 206.339 421H210.125Z' fill='%2351102E'/%3E%3Cpath d='M640.243 316.034V211.447L533.471 211.068L533.092 315.655L640.243 316.034Z' fill='%23CB5A96'/%3E%3Cpath d='M325.227 1.13696L320.305 6.06313V10.2314L329.392 1.13696H325.227Z' fill='%23750C00'/%3E%3Cpath d='M343.023 1.13696L320.305 24.2521V28.0415L347.188 1.13696H343.023Z' fill='%23750C00'/%3E%3Cpath d='M360.818 1.13696L320.305 42.0622V46.2305L364.983 1.13696H360.818Z' fill='%23750C00'/%3E%3Cpath d='M378.992 1.13696L320.305 60.2512V64.4195L382.778 1.13696H378.992Z' fill='%23750C00'/%3E%3Cpath d='M396.787 1.13696L320.305 78.4403V82.6086L400.574 1.13696H396.787Z' fill='%23750C00'/%3E%3Cpath d='M414.583 1.51538L320.305 96.6287V100.797L418.369 1.51538H414.583Z' fill='%23750C00'/%3E%3Cpath d='M427.456 6.44177L329.014 105.724H332.8L427.456 10.6101V6.44177Z' fill='%23750C00'/%3E%3Cpath d='M427.077 24.631L346.809 105.724H350.595L427.077 28.7993V24.631Z' fill='%23750C00'/%3E%3Cpath d='M427.077 42.8201L364.604 105.724H368.769L427.077 46.6094V42.8201Z' fill='%23750C00'/%3E%3Cpath d='M427.077 60.6301L382.4 105.724L386.565 106.103L427.077 64.7984V60.6301Z' fill='%23750C00'/%3E%3Cpath d='M427.077 78.8191L400.195 106.103H404.36L427.077 82.9874V78.8191Z' fill='%23750C00'/%3E%3Cpath d='M427.077 97.0082L417.99 106.103H422.155L427.077 101.176V97.0082Z' fill='%23750C00'/%3E%3Cpath d='M320.377 105.248L320.755 0.660889H318.484C260.554 0.660889 213.605 47.2702 213.605 104.869L320.377 105.248Z' fill='%23750C00'/%3E%3Cpath d='M5.25792 210L0.374878 214.887V219.022L9.0141 210H5.25792Z' fill='%23750C00'/%3E%3Cpath d='M22.9119 210L0.374878 232.932V237.067L26.6681 210H22.9119Z' fill='%23750C00'/%3E%3Cpath d='M40.5659 210L0.374878 250.976V254.735L44.6977 210H40.5659Z' fill='%23750C00'/%3E%3Cpath d='M58.2206 210L0 268.645V272.78L62.3524 210H58.2206Z' fill='%23750C00'/%3E%3Cpath d='M75.8746 210.375L0 286.689V290.824L80.0063 210.375H75.8746Z' fill='%23750C00'/%3E%3Cpath d='M93.5286 210.375L0 304.733V308.868L97.6604 210.375H93.5286Z' fill='%23750C00'/%3E%3Cpath d='M106.299 215.263L8.63916 313.756H12.7709L106.299 219.398V215.263Z' fill='%23750C00'/%3E%3Cpath d='M106.3 233.307L26.2932 313.756H30.425L106.3 237.443V233.307Z' fill='%23750C00'/%3E%3Cpath d='M106.299 251.352L44.3227 313.756L48.0789 314.132L106.299 255.487V251.352Z' fill='%23750C00'/%3E%3Cpath d='M106.299 269.397L61.9767 314.132H65.7329L106.299 273.156V269.397Z' fill='%23750C00'/%3E%3Cpath d='M106.3 287.065L79.6308 314.132H83.3869L105.924 291.2L106.3 287.065Z' fill='%23750C00'/%3E%3Cpath d='M105.924 305.11L97.2847 314.132H101.041L105.924 309.245V305.11Z' fill='%23750C00'/%3E%3C/svg%3E%0A");
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;

    .small &{
      width: 200px;
    height: 125px;
    }
  }

  &__jumbotron{
    padding:2rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

    &--1 {
      flex-direction: row;
      margin-bottom: 5rem;
      padding-top: 2rem;
      gap: 5rem;

      .small & {
        flex-direction: column;
      }

      .medium & {
        gap: 2rem;
      }
    }

    &--3 {
      flex-direction: row;
      padding: 0;
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem;
      height: 300px;
      background-color: var(--light-background-color);

      .small & {
        align-items: flex-start;
        height: auto;
      }
    }

    &--4{
      padding: 3rem;
    align-items: flex-start;

      &-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2.5rem;

        .small & {
          flex-direction: column;
        }

      }
    }

  }

  &__line{
    padding: 0.3rem;
  }

  &__para{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__list{
    list-style: circle;
    color: var(--primary-color);
    padding-right: 3rem;
    padding:1rem;


    & span  {
      color: var(--text-color-black);
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    //justify-items: center;
    //align-items: center;
    max-width: 800px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    max-width: 300px;

    &__title {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    &__icon {
      &--1 {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_89_2)'%3E%3Cpath d='M16.5333 24.8H20.6667V20.6667H16.5333V24.8ZM41.3333 24.8H45.4667V20.6667H41.3333V24.8ZM41.7467 35.96C40.4954 37.6284 38.8729 38.9825 37.0076 39.9151C35.1423 40.8478 33.0855 41.3333 31 41.3333C28.9145 41.3333 26.8577 40.8478 24.9924 39.9151C23.1271 38.9825 21.5046 37.6284 20.2533 35.96L16.9467 38.44C23.9733 47.8103 38.0267 47.8103 45.0533 38.44L41.7467 35.96ZM4.13333 20.6667V10.3333H0V20.6667H4.13333ZM10.3333 4.13333H20.6667V0H10.3333V4.13333ZM4.13333 10.3333C4.13333 8.68899 4.78655 7.112 5.94927 5.94927C7.112 4.78655 8.68899 4.13333 10.3333 4.13333V0C7.59276 0 4.96444 1.08869 3.02656 3.02656C1.08869 4.96444 0 7.59276 0 10.3333H4.13333ZM0 41.3333V51.6667H4.13333V41.3333H0ZM10.3333 62H20.6667V57.8667H10.3333V62ZM0 51.6667C0 54.4072 1.08869 57.0356 3.02656 58.9734C4.96444 60.9113 7.59276 62 10.3333 62V57.8667C8.68899 57.8667 7.112 57.2135 5.94927 56.0507C4.78655 54.888 4.13333 53.311 4.13333 51.6667H0ZM41.3333 4.13333H51.6667V0H41.3333V4.13333ZM57.8667 10.3333V20.6667H62V10.3333H57.8667ZM51.6667 4.13333C53.311 4.13333 54.888 4.78655 56.0507 5.94927C57.2135 7.112 57.8667 8.68899 57.8667 10.3333H62C62 7.59276 60.9113 4.96444 58.9734 3.02656C57.0356 1.08869 54.4072 0 51.6667 0V4.13333ZM41.3333 62H51.6667V57.8667H41.3333V62ZM62 51.6667V41.3333H57.8667V51.6667H62ZM51.6667 62C54.4072 62 57.0356 60.9113 58.9734 58.9734C60.9113 57.0356 62 54.4072 62 51.6667H57.8667C57.8667 53.311 57.2135 54.888 56.0507 56.0507C54.888 57.2135 53.311 57.8667 51.6667 57.8667V62Z' fill='%23CB5A96'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_89_2'%3E%3Crect width='62' height='62' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
      }

      &--2 {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 60C10.35 60 8.938 59.413 7.764 58.239C6.59 57.065 6.002 55.652 6 54V12C6 10.35 6.588 8.938 7.764 7.764C8.94 6.59 10.352 6.002 12 6H39C40.65 6 42.063 6.588 43.239 7.764C44.415 8.94 45.002 10.352 45 12V24.15C43.95 24.25 42.925 24.438 41.925 24.714C40.925 24.99 39.95 25.327 39 25.725V12H12V54H24V60H12ZM24 50.925V48C24 47.45 24.013 46.913 24.039 46.389C24.065 45.865 24.127 45.327 24.225 44.775C23.275 44.525 22.5 44 21.9 43.2C21.3 42.4 21 41.5 21 40.5C21 39.25 21.438 38.188 22.314 37.314C23.19 36.44 24.252 36.002 25.5 36C25.75 36 26 36.025 26.25 36.075C26.5 36.125 26.75 36.2 27 36.3C27.5 35.4 28.063 34.538 28.689 33.714C29.315 32.89 29.977 32.102 30.675 31.35C29.925 30.9 29.113 30.563 28.239 30.339C27.365 30.115 26.452 30.002 25.5 30C22.6 30 20.125 31.025 18.075 33.075C16.025 35.125 15 37.6 15 40.5C15 43.2 15.863 45.513 17.589 47.439C19.315 49.365 21.452 50.527 24 50.925ZM25.5 25.5C26.75 25.5 27.813 25.063 28.689 24.189C29.565 23.315 30.002 22.252 30 21C29.998 19.748 29.561 18.686 28.689 17.814C27.817 16.942 26.754 16.504 25.5 16.5C24.246 16.496 23.184 16.934 22.314 17.814C21.444 18.694 21.006 19.756 21 21C20.994 22.244 21.432 23.307 22.314 24.189C23.196 25.071 24.258 25.508 25.5 25.5ZM42 66H36C34.35 66 32.938 65.413 31.764 64.239C30.59 63.065 30.002 61.652 30 60V48C30 43 31.75 38.75 35.25 35.25C38.75 31.75 43 30 48 30C53 30 57.25 31.75 60.75 35.25C64.25 38.75 66 43 66 48V60C66 61.65 65.413 63.063 64.239 64.239C63.065 65.415 61.652 66.002 60 66H54V51H61.5V48C61.5 44.25 60.188 41.063 57.564 38.439C54.94 35.815 51.752 34.502 48 34.5C44.248 34.498 41.061 35.811 38.439 38.439C35.817 41.067 34.504 44.254 34.5 48V51H42V66Z' fill='%23CB5A96'/%3E%3C/svg%3E%0A");
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
      }

      &--3 {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 15H12C10.3431 15 9 16.3431 9 18V30C9 31.6569 10.3431 33 12 33H24C25.6569 33 27 31.6569 27 30V18C27 16.3431 25.6569 15 24 15Z' stroke='%23CB5A96' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 51L15 57L27 45M39 18H63M39 36H63M39 54H63' stroke='%23CB5A96' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
      }

      &--4 {
        background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 42C36.5933 42 37.1734 41.8241 37.6667 41.4944C38.1601 41.1648 38.5446 40.6962 38.7716 40.1481C38.9987 39.5999 39.0581 38.9967 38.9424 38.4147C38.8266 37.8328 38.5409 37.2982 38.1213 36.8787C37.7018 36.4591 37.1672 36.1734 36.5853 36.0576C36.0033 35.9419 35.4001 36.0013 34.8519 36.2284C34.3038 36.4554 33.8352 36.8399 33.5056 37.3333C33.1759 37.8266 33 38.4067 33 39C33 39.7957 33.3161 40.5587 33.8787 41.1213C34.4413 41.6839 35.2043 42 36 42ZM51 42C51.5933 42 52.1734 41.8241 52.6667 41.4944C53.1601 41.1648 53.5446 40.6962 53.7716 40.1481C53.9987 39.5999 54.0581 38.9967 53.9424 38.4147C53.8266 37.8328 53.5409 37.2982 53.1213 36.8787C52.7018 36.4591 52.1672 36.1734 51.5853 36.0576C51.0033 35.9419 50.4001 36.0013 49.852 36.2284C49.3038 36.4554 48.8352 36.8399 48.5056 37.3333C48.1759 37.8266 48 38.4067 48 39C48 39.7957 48.3161 40.5587 48.8787 41.1213C49.4413 41.6839 50.2043 42 51 42ZM36 54C36.5933 54 37.1734 53.8241 37.6667 53.4944C38.1601 53.1648 38.5446 52.6962 38.7716 52.148C38.9987 51.5999 39.0581 50.9967 38.9424 50.4147C38.8266 49.8328 38.5409 49.2982 38.1213 48.8787C37.7018 48.4591 37.1672 48.1734 36.5853 48.0576C36.0033 47.9419 35.4001 48.0013 34.8519 48.2284C34.3038 48.4554 33.8352 48.8399 33.5056 49.3333C33.1759 49.8266 33 50.4067 33 51C33 51.7957 33.3161 52.5587 33.8787 53.1213C34.4413 53.6839 35.2043 54 36 54ZM51 54C51.5933 54 52.1734 53.8241 52.6667 53.4944C53.1601 53.1648 53.5446 52.6962 53.7716 52.148C53.9987 51.5999 54.0581 50.9967 53.9424 50.4147C53.8266 49.8328 53.5409 49.2982 53.1213 48.8787C52.7018 48.4591 52.1672 48.1734 51.5853 48.0576C51.0033 47.9419 50.4001 48.0013 49.852 48.2284C49.3038 48.4554 48.8352 48.8399 48.5056 49.3333C48.1759 49.8266 48 50.4067 48 51C48 51.7957 48.3161 52.5587 48.8787 53.1213C49.4413 53.6839 50.2043 54 51 54ZM21 42C21.5933 42 22.1734 41.8241 22.6667 41.4944C23.1601 41.1648 23.5446 40.6962 23.7716 40.1481C23.9987 39.5999 24.0581 38.9967 23.9424 38.4147C23.8266 37.8328 23.5409 37.2982 23.1213 36.8787C22.7018 36.4591 22.1672 36.1734 21.5853 36.0576C21.0033 35.9419 20.4001 36.0013 19.8519 36.2284C19.3038 36.4554 18.8352 36.8399 18.5056 37.3333C18.1759 37.8266 18 38.4067 18 39C18 39.7957 18.3161 40.5587 18.8787 41.1213C19.4413 41.6839 20.2044 42 21 42ZM57 12H54V9C54 8.20435 53.6839 7.44129 53.1213 6.87868C52.5587 6.31607 51.7957 6 51 6C50.2043 6 49.4413 6.31607 48.8787 6.87868C48.3161 7.44129 48 8.20435 48 9V12H24V9C24 8.20435 23.6839 7.44129 23.1213 6.87868C22.5587 6.31607 21.7956 6 21 6C20.2044 6 19.4413 6.31607 18.8787 6.87868C18.3161 7.44129 18 8.20435 18 9V12H15C12.6131 12 10.3239 12.9482 8.63604 14.636C6.94821 16.3239 6 18.6131 6 21V57C6 59.3869 6.94821 61.6761 8.63604 63.364C10.3239 65.0518 12.6131 66 15 66H57C59.3869 66 61.6761 65.0518 63.364 63.364C65.0518 61.6761 66 59.3869 66 57V21C66 18.6131 65.0518 16.3239 63.364 14.636C61.6761 12.9482 59.3869 12 57 12ZM60 57C60 57.7957 59.6839 58.5587 59.1213 59.1213C58.5587 59.6839 57.7957 60 57 60H15C14.2044 60 13.4413 59.6839 12.8787 59.1213C12.3161 58.5587 12 57.7957 12 57V30H60V57ZM60 24H12V21C12 20.2044 12.3161 19.4413 12.8787 18.8787C13.4413 18.3161 14.2044 18 15 18H57C57.7957 18 58.5587 18.3161 59.1213 18.8787C59.6839 19.4413 60 20.2044 60 21V24ZM21 54C21.5933 54 22.1734 53.8241 22.6667 53.4944C23.1601 53.1648 23.5446 52.6962 23.7716 52.148C23.9987 51.5999 24.0581 50.9967 23.9424 50.4147C23.8266 49.8328 23.5409 49.2982 23.1213 48.8787C22.7018 48.4591 22.1672 48.1734 21.5853 48.0576C21.0033 47.9419 20.4001 48.0013 19.8519 48.2284C19.3038 48.4554 18.8352 48.8399 18.5056 49.3333C18.1759 49.8266 18 50.4067 18 51C18 51.7957 18.3161 52.5587 18.8787 53.1213C19.4413 53.6839 20.2044 54 21 54Z' fill='%23CB5A96'/%3E%3C/svg%3E%0A");
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
      }
    }
  }


  &__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .btn {
      margin: 1rem;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      text-decoration: none;
      background-color: var(--primary-color);
      color: white;
    }
  }
}
